h1 {
  padding: 10px 10px 10px 14px;
  margin: -11px;
  border-radius: 14px;
  text-align: center;
}

.joke {
  padding: 12px;
  width: 80%;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
}

img {
  width: 300px;
  margin-left: 38%;
}